.title-screen{
  height:100vh;
  width:100vw;
  position: absolute;
}

.title{
  font-size: 3vw;
  height: 100%;
  width: 100%;
  position: relative;
  top:50%;
}
.subtitle{
  font-size: 2vw;
}

.btn{
  height: 6vh;
  width: 14vw;
}

p{
  font-size:1.2vw;
}