.title{
  font-size: 5vh;
  height: 100%;
  width: 100%;

}
.subtitle{
  font-size: 3vw;
}
#details{
  font-size:1.5vw;
}
.educational-about{
  border: 3px solid black;
  border-radius:15%;
  height:25vh;
}


 /* Applying CSS to sphere */
.tagcloud {
  font-weight: bold !important;
  letter-spacing: 1px !important;
  font-size: 18px !important;
  display: flex;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item:hover {
  color: #1d2f70 !important;
}

.project-button{
  margin-top:10vh;
}

.btn{
  height: 6vh;
  width: 14vw;
}

@media only screen and (max-width: 900px) {
.btn{
  height: 6vh;
  width: 30vw;
  font-size: 2vw !important;
}
#details{
  font-size: 2vw;
}
}

@media only screen and (max-width: 500px) {
.btn{
  height: 6vh;
  width: 40vw !important;
  font-size: 2.5vw !important;
}
#details{
  font-size: 3.5vw !Important;
}
}

